.btn {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  background-color: darkcyan;
}

.btn:hover {
  background-color: deepskyblue;
}
